.section-team {
    // padding-top: 94px;
    // padding-bottom: 94px;
    @extend %padding
    background: var(--light-color);
  }
  
  .card {
    text-align: center;
  }
  
  .card-team {
    color: var(--black-color);
    margin-bottom: 10px;
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.188;
    letter-spacing: 0.03em;
  }
  
  .card-li {
    color: var(--grey-color);
    margin-bottom: 30px;
  }
  
  
  .team {
    margin-bottom: 30px;
  }
  